{% extends "base.html.twig" %}
{% block body %}
    {{ dump() }}
    <table>
        <tr>
            <td>Name</td>
            <td>Grade</td>
            <td>Retake Grade</td>
        </tr>
        {% for grade in grades %}
            <tr>
                <td>{{ grade.getSubject().getName() }}</td>
                <td>{{ grade.getSessionGrade() }}</td>
                <td>{{ grade.getRetakeSessionGrade() }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}